@{
    ViewBag.Title = "Contact";
}

<h1>Please Contact For Any Query</h1>

<address>
    Arambag<br />
    Motijheel, Dhaka-1000<br />
    <abbr title="Phone">P:</abbr>
    +880-1722335535
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@cloudneet.com</a><br />
</address>